/* Header */
header {
   
  }
  
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px; 
  }
  
header .logo{
    font-size: 25px;
}
    

/*.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: .1em;
    font-weight: 600;
  } */

    


/*.main-menu ul li a:hover { 
    text-decoration: underline 2px;
  } */
  
  
 /*Limit the carousel container height so other section don't get "pushed" down by white space */
.carousel-inner {
    max-height: 700px; 
  } 


.img-size {
  height: 1080px;   
}

.carousel-item img {
    width: 100%;
    height: 70%; /* Bootstrap handles width already */
    object-fit: cover; /* or 'contain' if you want stretch instead of crop */
    object-position: left top;

  }

  .carousel-caption {
    top: 30%;
    bottom: auto;
}

.carousel-caption h1 {
  font-weight: 600;
}

.carousel-caption h3 {
  margin-bottom: 24px;
}

.carousel-caption button {
  padding: 12px 24px 12px 24px;
  font-weight: 600;
}
/* Combined common tags to reduce redundance */
.overlay-img, .overlay-img2{ 
  height: 400px;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay-img { /* Add gradient to image to better contrast with white heading*/
  background: #0b40a3;  /* fallback for old browsers */
  background: linear-gradient(rgb(72,0,72,0.8), rgb(192,72,72,0.8)), url("./images/FallOutBoy-JonathanWeiner-2019.jpg");  /* Chrome 10-25, Safari 5.1-6 */
}

.overlay-img2 {
  background: rgb(21, 80, 146);  /* fallback for old browsers */
  background: linear-gradient(90deg, rgba(2,0,36,0.009010293570553274) 0%, rgb(12, 127, 153) 80%), 
  url("./images/Pete-Wentz-of-Fall-Out-Boy.-Credit-Scott-Legato-via-Getty-Images.jpg");  /* Chrome 10-25, Safari 5.1-6 */
 
}

.overlay-img3 {
  width: auto;
  background: rgb(21, 80, 146);  /* fallback for old browsers */
  background: linear-gradient(180deg, rgba(2,0,36,0.009010293570553274) 0%, rgba(133,6,177,1) 98%), 
  url("./images/GettyImages-1456513006.webp");  /* Chrome 10-25, Safari 5.1-6 */
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
 
}
  
/* Main Content */
.main-content {
    padding-bottom: 36px;
  }

/* Limit the center section container width to 1280px*/s
.container {
    max-width: 1280px;
}
  
.main-content h2 {
    margin-top: 0;
  }

.about-section-wrapper {
  display: flex ;

}

.about-wrapper{
  padding-top: 32px;
}

.about-wrapper p {
  padding-bottom: 32px;
}
  
.video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio for responsive video */
  }
  
.video-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
/* Sidebar */
.sidebar-wrapper {
    flex:1;
    flex-shrink: 0;
    flex-basis: 20%;

   
}

.sidebar-wrapper h1 {
  padding-top: 16px;
  text-align: center;
  padding-bottom: 16px;
  font-size: 2rem;
}

.sidebar-wrapper ul li {
    font-family: 'impact','sans-serif';
}
  
.tour-dates {
    list-style: none;
    padding: 0;
  }
  
.tour-dates li {
    margin-bottom: 10px;
  }

.accordion-body button {
  margin-top: 16px;

}  
  
  /* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  
footer p {
    margin: 0;
  }
  
 